<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!--<% include ../partials/nav.ejs %>-->

<div class="jumbotron text-center">
  <div class="container">
    <!--<a href="/" class="lang-logo">
      <img src="/lang-logo.png">     
    </a>-->
    <img style="width: 300px" src="/logo-bike-facil.png">
    <h2>Bem vindo ao<i> Bike Facil</i></h2>
    <p>Faça o login para acessar o sistema de bicicletas compartilhadas</p>
    
    <!--<a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>-->
  </div>
<!--</div>-->
<div class="container a-center ">
  
  <div class="w-50 ">
    <div class="b-radius fundo-branco-t pad-y-10">
  <form class=""><!-- class="form-inline" -->
    <div class="form-group pad-x-20">
      <label for="exampleInputEmail1" class="text-blue font-18">Login</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
      <small id="emailHelp" class="form-text text-muted">Não se preocupe, seus dados estão protegidos.</small>
    </div>
    <div class="form-group pad-x-20">
      <label for="exampleInputPassword1" class="text-blue font-18">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label text-blue" for="exampleCheck1" >Salvar minha senha</label>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  </div>
  </div>
  <!--<hr>-->

  </div>
</div>
<div class="container">
  <!--<a type="button" class="btn btn-lg btn-primary" href=""><span class="glyphicon glyphicon-login"></span> Fazer Cadastro</a>-->
  <div class="row">
    <div class="col-md-6">
      <a href="">
      <h4><span class="glyphicon glyphicon-info-sign"></span> Veja como alugar sua bike</h4>
      </a>     
    </div>

    <div class="col-md-6">
      <a href="">
      <h4><span class="glyphicon glyphicon-link"></span> Passo a passo para realizar o desbloqueio</h4>
      </a>    
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">Seja nosso parceiro</div>
</div>


</body>
</html>
